# api
SECRET_KEY=laksdjflaksjdf

# postgres database
POSTGRES_SERVER=db:5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=viet-garden
PGDATA=/var/lib/postgresql/data

# host info
HOST_URL=https://example.com